.features {
  margin-bottom: 50px;
  margin-top: 50px;
}

.features li{
  list-style-type: none;
}

.features h3 {
  font-size: 24px;
  font-weight: bold;
}

.features p {
  font-size: 14px;
  font-weight: lighter;
}

.features img {
  margin-bottom: -30px;
  height: 100px;
}
