.footer {
  background-color: rgb(51,51,51);
  color: #C2CCCC;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
